* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: 500;
  }
  
  .wrapper {
    background-color: rgb(239, 227, 238);
    height: 100vh;
    width: 100%;
    font-family: "Courier New", Courier, monospace;
  }
  
  .hov:hover {
    color: rgba(124, 27, 99, 0.705);
  }
  
  /*===================================================================================*/
  
  .header__title {
    padding: 30px 0;
    color: rgb(132, 35, 114);
    text-align: center;
    font-size: 45px;
  }
  
  .main__lessons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .main__lessons--link,
  .footer__project--link {
    text-decoration: none;
    color: rgb(102, 24, 82);
    font-size: 30px;
    transition: all 0.3s;
  }
  
  .main__lessons li {
    margin: 30px;
  }
  
  .footer__project {
    height: 16vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer__project--link {
    font-size: 40px;
  }