.container {
  width: 10px;
  height: 10px;
  transform: translate(500px, 200px);
 
}

.block {
  height: 300px;
  width: 300px;
  background-color: #00ff1e;
  transform: rotate(-30deg) translateX(10vw);
}