.menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 40px;
}

.menu__title {
  font-size: 30px;
  margin-bottom: 30px;
}

.menu__item{
  padding: 5px;
}

.menu__item:hover:nth-child(2) {
  transition: all .5s;
  color: red
}