html, body {
    font-size: 18px;
    font-family: 'Manrope', sans-serif;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1310px;
    padding: 0 15px;
    margin: 0 auto;
}

.button {
    line-height: 175%;
    font-weight: 600;
    padding: 16px 40px;
    color: #fff;
    border-radius: 12px;
    background: #FF6433;
}

.logo {}

/* _________________----------------------------------_______________________ */

.header {}

.header__top {
    margin-top: 18px;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hader__logo {}

.header__nav {
    margin-left: auto;
}

.header__nav-list {
    display: flex;
}

.header__nav-item {
    margin-right: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #1E1B1B;
    transition: all .5s;
}

.header__nav-item:hover {
    color: #FF6433;
    transform: scale(1.2);
}

.header__nav-item:last-child {
    margin-right: 32px;
}

.header__nav-link {}


.line {
    height: 42px;
    border: 1px solid #939191;
    margin-right: 32px;
    opacity: 0.36;
}

.header__user-nav {
    display: flex;
}

.assist__img {
    position: relative;
    margin-right: 14px;
}

.assistance {
    flex-direction: column;
    justify-content: space-between;
}

.assist__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #1E1B1B;
    opacity: 0.7;
}

.assist__number {
    font-weight: 600;
    font-size: 18px;
    line-height: 175%;
    transition: all .5s;
}

.assist__number:hover {
    color: #FF6433;
}

/* __________________________________________________________________________ */

.header__body {
    width: 100%;
    margin: 80px 0 135px;
    margin-top: 80px;
}

.header__body-inner {}

.header__main {
    display: flex;
    align-content: space-between;
    align-items: center;

}

.header__content {
    display: flex;
    flex-direction: column;
}

.Header__title {
    font-weight: 800;
    font-size: 64px;
    line-height: 84px;
}

.header__body-active {
    display: flex;
    align-items: center;
}

.header__btn {
    margin-right: 33px;
    margin-top: 32px;
    margin-bottom: 48px;
}

.header__play {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: right;

}

.header__playbtn {}

.header__time {
    display: flex;
}

.time__img {
    margin-right: 13.05px;
    width: 31px;
    height: 31px;
    transform: translateY(35%);
}

.time__desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.time__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #939191;
}

.time__text {
    font-weight: 600;
    font-size: 18px;
    line-height: 175%;
    color: #1E1B1B;
}

.header__img {

}